html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

@media(prefers-color-scheme: dark) {
  body {
    color: antiquewhite;
    background-color: black;
  }
}

header {
  color: maroon;
  font-family: 'Playfair Display', serif;
  font-size: 2.6rem;
  border-bottom: 0.2rem solid black;
}

@media(prefers-color-scheme: dark) {
  header {
    color: indianred;
    border-bottom-color: antiquewhite;
  }
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

@media(prefers-color-scheme: dark) {
  nav a {
    color: aliceblue;
  }
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}

@media(prefers-color-scheme: dark) {
  footer {
    color: #AAA;
    border-top-color: antiquewhite;
  }
}

.nav-prev-next {
   border-top: #E0E0E0 dashed 1px;
   font-size: 1.2rem;
   width: 100%; 
   margin: 1em 0 0 0;
   height: 1.1em;
}

@media(prefers-color-scheme: dark) {
  .nav-prev-next {
    border-top-color: #505050;
  }
}

.prev {
    float: left;
    text-align: left;
}
.next {
    float: right;
    text-align: right;
}

h1 {
  color: maroon;
  font-family: 'Playfair Display', serif;
  font-size: 3.4rem;
}

h2 {
  color: maroon;
  font-family: 'Playfair Display', serif;
  font-size: 2.6rem;
  padding-top: 1em;
}

@media(prefers-color-scheme: dark) {
  h1 { color: indianred; }
  h2 { color: indianred; }
}

@media (min-width: 850px) {
  .headerLink:hover::before {
    height: 0.8em;
    width: 1em;
    margin-left: -1em;
    display: inline-block;
    background-image: url(../images/link-active.svg);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }
}

@media (max-width: 850px) {
  .headerLink::before {
    height: 0.8em;
    width: 1em;
    display: inline-block;
    background-image: url(../images/link-inactive.svg);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }
  .headerLink:hover::before {
    background-image: url(../images/link-active.svg);
  }
  @media(prefers-color-scheme: dark) {
    .headerLink::before {
      background-image: url(../images/link-inactive-dark.svg);
    }
  }
}

a:link {
  text-decoration: none;
  color: maroon;
}

a:visited {
  color: maroon;
}

a:hover {
  color: red;
}

a:hover code {
  color: red;
}

@media(prefers-color-scheme: dark) {
  a:link { color: indianred; }
  a:visited { color: indianred; }
  a:hover { color: red; }
  a:hover code { color: red; }
}


article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

@media(prefers-color-scheme: dark) {
  article .header {
    color: #AAA;
  }
}

.logo a {
    width: 140px;
    height: 40px;
    background-image: url(../images/name.png);
}
@media(prefers-color-scheme: dark) {
  .logo a {
      background-image: url(../images/name-dark.png);
  }
}
.logo a span {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0;
  }
  nav a:not(:first-child)::before{
    font-size: 2.2rem;
    font-weight: bold;
    content: " — ";
    padding: 0.25rem;
  }
}

@media (min-width: 800px) {
  body {
    width: 80rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 0;
    display: inline;
  }
  nav a:not(:first-child)::before{
    font-size: 2.2rem;
    font-weight: bold;
    content: " — ";
    padding: 0.5rem;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}

img.inline {
    display: inline-block;
}

img.right, model-viewer.right {
  float: right;
  margin-left: 24px;
  margin-top: 4px;
  max-width: 100%;
}

img.left, model-viewer.left {
  float: left;
  margin-right: 24px;
  margin-top: 4px;
  max-width: 100%;
}

img.center, model-viewer.center {
  display: block;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

div.center {
    display:block;
    max-width: fit-content;
    text-align: center;
    margin: 0px auto
}

.kw{
  color: green
}
.fu {
  color: darkblue
}
.st {
  color: yellowgreen
}
.co {
  color: grey;
}

@media(prefers-color-scheme: dark) {
  .kw{
    color: lightgreen;
  }
  .fu {
    color: turquoise;
  }
  .st {
    color: yellowgreen
  }
  .co {
    color: darkgrey;
  }
}

pre, code{
  font-family: 'Share Tech Mono', monospace;
}
code {
  color: #600000;
}
@media(prefers-color-scheme: dark) {
  code {
    color: #d79c9c;
  }
}

pre.sourceCode {
  border: #E0E0E0 dashed 1px;
  padding: 0.5em;
}
@media(prefers-color-scheme: dark) {
  pre.sourceCode {
    border-color: #505050;
  }
}

pre code.sourceCode{
  color: black;
}
@media(prefers-color-scheme: dark) {
  pre code.sourceCode {
    color: aliceblue;
  }
}

.sourceCode a:hover {
  color: black;
}
@media(prefers-color-scheme: dark) {
  .sourceCode a:hover {
    color: aliceblue;
  }
}

div.sourceCode {
  max-width: 100%;
  overflow-x: auto;
}
.lesson {
  font-style: italic;
  text-align: center;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 4em;
}

.fanta-review {
  float: right;
  width: 200px;
  height: 200px;
  border-radius: 0 100px 100px 100px;
  margin: 0 10px 0 10px;
  line-height: 25px;
  font-family: 'Playfair Display', serif;
  color: #FFFFFF;
  text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000,
    -0px -2px 0 #000,  
     0px -2px 0 #000,
    -2px 0px 0 #000,
     2px 0px 0 #000;
  font-size: 8rem;
  text-align: center;
  vertical-align: middle;
}
.fanta-review.left{
  float: left;
  border-radius: 100px 0 100px 100px;
  margin: 0 10px 10px 10px;
}

img.emoji {
    height: 1.5em;
    display: inline-block;
}


img.border {
  border-width: 3px;
  border-color: maroon;
  border-style: double;
}
@media(prefers-color-scheme: dark) {
  img.border {
    border-color: indianred;
  }
}

a.tag {
  display: inline-block;
  border: 1px solid maroon;
  border-radius: 2px;
  padding: 0 0.25em;
  margin-right: 0.5em
}
a:hover.tag {
  border-color: red;
}
@media(prefers-color-scheme: dark) {
  a.tag {
    border-color: indianred;
  }
  a:hover.tag {
    border-color: red;
  }
}

blockquote {
  margin: 0;
}
blockquote p {
  border-left: #E0E0E0 dashed 1px;
  padding-left: 2em;
  font-style: italic;
  color: #555;
}
@media(prefers-color-scheme: dark) {
  blockquote p {
    border-left-color: #505050;
    color: #AAA;
  }
}

.model-link{
  font-style: italic;
  position: absolute;
  padding: 10px;
}

li {
  margin-bottom: 0.25em;
}

.colour-emoji {
  font-family: "Noto Color Emoji", "Noto Emoji", sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
}


.bw-emoji {
  font-family: "Noto Emoji", sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
}

.waterfallImageList {
  text-align: center;
  margin-bottom: 3em;
}

.waterfallImageList img {
  height: 250px;
  border-width: 3px;
  border-color: maroon;
  border-style: double;
}

@media(prefers-color-scheme: dark) {
  .waterfallImageList img {
    border-color: indianred;
  }
}
.waterfallStl {
  border: #E0E0E0 dashed 1px;
}

@media(prefers-color-scheme: dark) {
  .waterfallStl {
    border-color: #505050;
  }
}

.waterfallStlDownload {
  position: absolute;
  right: 1em;
  bottom: 0;
}

.downloadIcon {
    height: 0.8em;
    width: 1em;
    display: inline-block;
    background-image: url(../images/download-inactive.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: -0.2em;
    font-size: 2.6rem;
}

@media (min-width: 850px) {
 .downloadIcon {
   margin-left: -1em;
 }
}

@media(prefers-color-scheme: dark) {
  .downloadIcon {
    background-image: url(../images/download-active-dark.svg);
  }
}

a:hover > .downloadIcon {
    background-image: url(../images/download-active.svg);
}

.social-card {
  max-width: 800px;
  margin-bottom: 1em;
  border-color: black;
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
}

.social-card img {
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom: 1px solid black;
}

@media(prefers-color-scheme: dark) {
  .social-card {
    border-color: antiquewhite;
  }
  .social-card img {
    border-bottom: 1px solid antiquewhite;
  }
}

.social-card p {
  margin: 1em
}

.social-card p.title {
  font-weight: bold;
}

.social-card p.description {
  font-style: italic;
}