a.link-preview {
	padding-right: 10px
}

a.link-preview::after {
    width: 10px;
    height: 10px;
    display: inline-block;
    content: "";
    vertical-align: top;
    background-size: cover;
	border-radius: 2px;
	margin-right: -10px;
}

a.link-to-self::after {
    display: none;
}
a.link-preview.link-to-self {
	display: inline;
	padding-right: 0;
}
a.link-to-en-wikipedia-org::after {
	background-color: white;
    background-image: url("../images/links/wikipedia.svg");
}
a.link-to-adit-io::after {
	background-image: url("../images/links/web.svg");
}
a.link-to-bitbucket-org::after {
	border-radius: 0;
	background-image: url("../images/links/bitbucket.svg");
}
a.link-to-blender-org::after {
	background-image: url("../images/links/blender.svg");
}
a.link-to-blog-sumtypeofway-com::after {
	background-image: url("../images/links/web.svg");
}
a.link-to-boingboing-net::after {
	background-image: url("../images/links/boing-boing.png");
}
a.link-to-cannonballcoffee-co-uk::after {
	background-image: url("../images/links/cannonballcoffee.png");
}
a.link-to-cpc-farnell-com::after {
	background-image: url("../images/links/cpc-farnell-com.svg");
}
a.link-to-dev-opencascade-org::after {
	background-image: url("../images/links/dev-opencascade-org.png");
}
a.link-to-discord-gg::after {
	background-image: url("../images/links/discord.svg");
}
a.link-to-downloads-haskell-org::after {
	border-radius: 0;
	background-image: url("../images/links/haskell.svg");
}
a.link-to-exercism-io::after {
	background-image: url("../images/links/exercism.svg");
}
a.link-to-github-com::after {
	background-image: url("../images/links/github.svg");
}
a.link-to-hackage-haskell-org::after {
	border-radius: 0;
	background-image: url("../images/links/haskell.svg");
}
a.link-to-kubuszok-com::after {
	background-image: url("../images/links/web.svg");
}
a.link-to-learnyouahaskell-com::after {
	background-image: url("../images/links/learnyouahaskell-com.png");
}
a.link-to-lexi-lambda-github-io::after {
	background-image: url("../images/links/web.svg");
}
a.link-to-luctielen-com::after {
	background-image: url("../images/links/luctielen-com.svg");
}
a.link-to-mathworld-wolfram-com::after {
	background-image: url("../images/links/wolfram.com.svg");
}
a.link-to-queue-acm-org::after {
	background-image: url("../images/links/acm-org.svg");
}
a.link-to-ro-che-info::after {
	background-image: url("../images/links/web.svg");
}
a.link-to-soundcloud-com::after {
	background-image: url("../images/links/soundcloud.svg");
}
a.link-to-stackoverflow-com::after {
	background-image: url("../images/links/stackoverflow.svg");
}
a.link-to-typelevel-org::after {
	background-image: url("../images/links/typelevel.svg");
}
a.link-to-wiki-haskell-org::after {
	border-radius: 0;
	background-image: url("../images/links/haskell.svg");
}
a.link-to-www-47deg-com::after {
	background-image: url("../images/links/47deg-com.png");
}
a.link-to-www-amazon-co-uk::after {
	background-color: white;
	background-image: url("../images/links/amazon.svg");
}
a.link-to-www-arduino-cc::after {
	background-image: url("../images/links/arduino.png");
}
a.link-to-www-cs-nott-ac-uk::after {
	background-image: url("../images/links/nott-ac-uk.png");
}
a.link-to-www-cs-ox-ac-uk::after {
	background-image: url("../images/links/ox.ac.uk.png");
}
a.link-to-www-goodreads-com::after {
	background-image: url("../images/links/goodreads.svg");
}
a.link-to-www-haskellforall-com::after {
	background-image: url("../images/links/blogger.svg");
}
a.link-to-www-meetup-com::after {
	background-image: url("../images/links/meetup.svg");
}
a.link-to-www-native-instruments-com::after {
	background-image: url("../images/links/native-instruments.png");
}
a.link-to-www-pjrc-com::after {
	background-image: url("../images/links/pjrc-com.png");
}
a.link-to-www-thingiverse-com::after {
	background-image: url("../images/links/thingiverse.png");
}
a.link-to-www-tinyrebel-co-uk::after {
	background-image: url("../images/links/tiny-rebel.png");
}
a.link-to-www-tommyp-org::after {
	background-image: url("../images/links/tommyp-org.svg");
}
a.link-to-www-twanvl-nl::after {
	background-image: url("../images/links/twanvl-nl.png");
}
a.link-to-www-prusa3d-com::after {
	background-image: url("../images/links/prusa3d.png");
}
a.link-to-www-printables-com::after {
	background-image: url("../images/links/printables.svg");
}