<ul>
    $for(link-counts)$

        <li>
            <span>$count$ -</span>
            <a href="http://$link$" class="link-preview link-to-$escaped-link$">$link$</a> 
        </li>
    $endfor$
</ul>