<article>
    <section class="header">
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
    </section>
    <section class="tags">
        $if(tagged)$
            $tagged$
        $endif$
    </section>
    <section>
        $body$
    </section>
</article>
