<ul>
    $for(posts)$
        <li>
            <a href="$url$">$title$</a> 
            $if(date)$
                - $date$
            $endif$
            $if(author)$
                - by $author$
            $endif$
        </li>
    $endfor$
</ul>
