$body$
<div class="nav-prev-next">
  $for(previous)$
    <span class="prev">
      <a href="$url$">&#x00AB; $title$</a>
    </span>
  $endfor$
  $for(next)$
    <span class="next">
      <a href="$url$">$title$ &#x00BB;</a>
    </span>
  $endfor$
</div>
