This is a transcribed copy of a book that is dedicated as follows:

<blockquote>
  <p>
Family Cookbook <br/>
for Joe and Nikki <br/>
on the occasion of their paper Wedding Anniversary
  </p>
</blockquote>

$partial("templates/post-list.html")$
