$for(posts)$
    <a href="$url$">
        <div class="social-card">
        <img src="$social_image_url$">
        <p class="title"> $title$ </p>
        $if(description)$
            <p class="description"> $description$ </p>
        $endif$
        $if(date)$
            <p class="date"> $date$ </p>
        $endif$
        $if(author)$
            <p class="author"> $author$ </p>
        $endif$
        </div>
    </a> 
    </li>
$endfor$
