<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>

<p class="waterfallDescription">
$rich_description$
</p>

$for(models)$
    <model-viewer 
        alt="Text reading C++ and Haskell"
             src="/$glb$" 
             environment-image="../images/hdri/aircraft_workshop_01_1k.hdr"
             ar 
             shadow-intensity="1" 
             camera-controls 
             touch-action="pan-y" 
             auto-rotate 
             interaction-prompt="none"
             rotation-per-second="90deg"
             style="width: 600px; height: 400px;" 
             class="center waterfallStl"
             >

    <p class="waterfallStlDownload">
      <a href="/$stl$">
        <span class="downloadIcon"></span>
        $stlFilename$
      </a>
    </p>
</model-viewer>
        </li>
$endfor$

<p class="waterfallImageList">
$for(images)$ 
  $image$
$endfor$
</p> 

<p>
 <a href="/$rawpath$">
  <span class="downloadIcon"></span>
  raw haskell source
 </a>
</p>

$body$
